@model IEnumerable<Blog_App_Dev.Models.Movie>

@{
    ViewData["Title"] = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form asp-action="SearchMovie" method="get" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Title" name="title" aria-label="Search" autofocus />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    @if (Model != null && Model.Any())
    {
        <h2 class="mt-5">Search Results for @ViewBag.Query</h2>

        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="@Url.Action("Details", "Movies", new { id = movie.ID })" class="text-decoration-none text-dark">
                        <div class="card h-100 item-card item-card-hover">
                            <div class="card-body">
                                <h5 class="card-title">@movie.Title</h5>
                                <p class="card-text">@movie.Overview</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <p class="mt-5">No movies found.</p>
    }
</div>