@{
    ViewBag.Title = "Delete All Posts";
}

<h1>Delete All Posts</h1>

<p>Are you sure you want to delete all posts? This action cannot be undone.</p>

<form method="post">
    <input type="submit" value="Delete All Posts" />
</form>
