@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<section class="container d-flex justify-content-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>Welcome to our website!</h1>
                <p>Thank you for visiting our site. Here, you can find all the information you need about our products and services.</p>
            </div>
            <div class="col-sm-12">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
            </div>
            <div>
                <pre><code class="language-css">p { color: red }</code></pre>
            </div>
        </div>
    </div>
</section>
