@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<section class="container d-flex justify-content-center">
    <i class="fa-sharp fa-solid fa-screwdriver-wrench fa-beat fa-2xl"></i>
</section>
